h1, p{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

#content{
    padding-left: 11%;
    padding-right: 12%;
    
}

#title{
    margin-top: 8%;
}

#paragraphs{
    display: flex;
    flex-direction: row;
}