h1, p{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

#content{
    padding-left: 11%;
    padding-right: 12%;
    
}

#title{
    margin-top: 8%;
}

#paragraphs{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    margin-bottom: 10%;
}

.paragraph{
    display: flex;
    flex-wrap: wrap;
}

.img_card{
    width: 250px;
    height: 350px;
    /* backdrop-filter: blur(20px); */

  /*   box-shadow: 0 0 5px yellow,
    0 0 25px yellow; */

    opacity: .5;
}

.img_card:hover{
    /* backdrop-filter: blur(40px);
    transform: translateY(-50%); */

    /* box-shadow: 0 0 5px yellow,
    0 0 25px yellow, 0 0 50px yellow,
    0 0 100px yellow, 0 0 200px yellow; */

    opacity: 1;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.logo{
    width: 30px;
    height: 28px;
    padding-right: 15%;
}

#links{
    display: flex;
    flex-direction: row;
}